body
{
    background-image: url("https://i.pinimg.com/originals/1a/9f/8a/1a9f8a7d5605acdb168786a2c27ede0c.jpg");
}
#imgurl {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: pink ;
}
  .button {
      background-color: darkblue;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 5px;}
.class1
{
    color: white;
}
