<ion-view hide-back-button="true" id="page1" style="background-color:#109C4C;">
    <ion-content padding="true" style="background: url(img/bday.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <h3 id="searchApp-heading1" style="color:#000000;font-weight:lighter;text-align: center;">SEARCH FOR PLACES NEARBY YOU!</h3>
       <div class="spacer" style="width: 300px; height: 0px;"></div>
         <div class="omb_login">
    	<h2 class="omb_authTitle">PLease Login or Register!</h2>
		
		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
			</div>
		</div>
        <form id="searchApp-form7" class="list">
            <label class="item item-input" id="searchApp-input11" name="txtUserName">
                <input type="email" placeholder="Username" ng-model="data.userName">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <form id="searchApp-form8" class="list">
            <label class="item item-input" id="searchApp-input12" name="txtPwd">
                <input type="password" placeholder="Password" ng-model="data.pwd">
            </label>
        </form>
             <br><br><br><br><br>
         <div id="searchApp-button-bar3" class="button-bar"> 
              <button id="searchApp-button11" class="hey"  ng-click="login()" style="border-radius:38px 38px 38px 38px;" ><center>Login</center></button>
             <button id="searchApp-button10" class="hey" ng-click="goToRegisterPage()" style="border-radius:38px 38px 38px 38px;"><center>Register</center></button>
           
        </div>
        
       
        
    </ion-content>
</ion-view>